<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
    <key>CFBundleAllowMixedLocalizations</key>
    <true/>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>Qoneqt</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>$(MARKETING_VERSION)</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>qoneqt</string>
          <string>com.qoneqt.qoneqt</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>exp+qoneqt</string>
        </array>
      </dict>
      <dict>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>com.googleusercontent.apps.9278642222-irdmcm22uif6m1qarehursn0epnhopkp</string>
                </array>
            </dict>
    </array>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>FirebaseDynamicLinksCustomDomains</key>
    <array>
      <string>com.qoneqt.qoneqt</string>
      <string>https://qoneqtapp</string>
      <string>https://qoneqt</string>
      <string>https://qoneqt.com</string>
    </array>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>qoneqt</string>
      <string>qoneqt.com</string>
      <string>http</string>
      <string>https</string>
    </array>
    <key>LSMinimumSystemVersion</key>
    <string>12.0</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSExceptionDomains</key>
      <dict>
        <key>localhost</key>
        <dict>
          <key>NSExceptionAllowsInsecureHTTPLoads</key>
          <true/>
        </dict>
      </dict>
    </dict>
    <key>NSAppleMusicUsageDescription</key>
    <string>Needed to add your music in your Qoneqt portal</string>
    <key>NSCalendarsUsageDescription</key>
    <string>Qoneqt wants to access your calendar</string>
    <key>NSCameraUsageDescription</key>
    <string>Qoneqt needs access to your camera to allow you to take photos or record videos, which can then be uploaded directly to your groups or posts within the Qoneqt community portal.</string>
    <key>NSContactsUsageDescription</key>
    <string>Qoneqt wants to access your contact</string>
    <key>NSDocumentFolderUsageDescription</key>
    <string>Needed to record the audio of a video for use in your Qoneqt portal</string>
    <key>NSFaceIDUsageDescription</key>
    <string>Allow $(PRODUCT_NAME) to access your Face ID biometric data.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Qoneqt needs access to your location to provide personalized content and services based on your location.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Qoneqt needs access to your microphone to allow you to take photos or record videos, which can then be uploaded directly to your groups or posts within the Qoneqt community portal.</string>
    <key>NSMotionUsageDescription</key>
    <string>Qoneqt wants to access your motion</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Needed to add your photos and recorded videos in your Qoneqt portal</string>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>Qoneqt wants to access your speech recognition</string>
    <key>NSUserActivityTypes</key>
    <array>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
    </array>
    <key>NSUserNotificationAttachmentService</key>
    <true/>
    <key>NSUserNotificationAttachmentServiceAllowedTypes</key>
    <array>
      <string>public.image</string>
      <string>public.jpeg</string>
      <string>public.png</string>
    </array>
    <key>RCTRootViewBackgroundColor</key>
    <integer>4278321173</integer>
    <key>UIAppFonts</key>
    <array>
      <string>Nunito_200ExtraLight.ttf</string>
      <string>Nunito_300Light.ttf</string>
      <string>Nunito_400Regular.ttf</string>
      <string>Nunito_500Medium.ttf</string>
      <string>Nunito_600SemiBold.ttf</string>
      <string>Nunito_700Bold.ttf</string>
      <string>Nunito_800ExtraBold.ttf</string>
      <string>Nunito_900Black.ttf</string>
      <string>Nunito_200ExtraLight_Italic.ttf</string>
      <string>Nunito_300Light_Italic.ttf</string>
      <string>Nunito_400Regular_Italic.ttf</string>
      <string>Nunito_500Medium_Italic.ttf</string>
      <string>Nunito_600SemiBold_Italic.ttf</string>
      <string>Nunito_700Bold_Italic.ttf</string>
      <string>Nunito_800ExtraBold_Italic.ttf</string>
      <string>Nunito_900Black_Italic.ttf</string>
    </array>
    <key>UIBackgroundModes</key>
    <array>
      <string>remote-notification</string>
      <string>fetch</string>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>SplashScreen</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>arm64</string>
    </array>
    <key>UIRequiresFullScreen</key>
    <false/>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleDefault</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UIUserInterfaceStyle</key>
    <string>Dark</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
  </dict>
</plist>